.category-section {
  padding: 0 2rem;
  margin-top: 9rem;
}

.category-title {
  margin-bottom: 7.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.8rem;
}

.category-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
}

.our-products-section {
  margin-top: 6rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  position: relative;
}

.our-products-title {
  margin-bottom: 2.5rem;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  text-align: center;
}

.show-more {
  margin-top: 4rem;
  border: solid 1px #b88e2f;
  height: 4.8rem;
  width: 24.5rem;
}

@media (min-width: 1200px) {
  .category-section {
    padding: 0;
  }
}
